/* Mobile first */

body {
    background-color: #7FFA87;
}
.a-signUp{
    font-size: 15px;
    font-family: Forte;
    color: white;
}
.a-signUp:hover{
    color: black;
}
.a-login{
     font-size: 15px;
     font-family: Forte;
     color: white;
 }
.a-login:hover{
    color: black;
}
form{
    text-align: center;
    color: #CBFBCE;
    display: inline-block;
    background-color: #3E7A42;
    border-radius: 20px;
    margin: 20px;
    width: 200px;
    height: auto;
    padding: 30px;

}
input[type=text], [type=password]{
    width: auto;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px 15px;
    background-color: #CBFBCE;
    border: 5px black;
    border-radius: 10px;
    text-align: center;
}

.btn{
    margin: 10px;
    padding: 15px 60px;
    background-color: #3E7A42;
    color: #CBFBCE;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
}
.btn:hover{
    background-color: black;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "topHeader"
    "navigation"
    "main-content"
    "footer";
    grid-gap: 15px;
}


header {
    grid-area: topHeader;
    background-color: #3E7A42;
    color: #CBFBCE;
    text-align: center;
    font-size: 30px;
}

nav {
    grid-area: navigation;
    background-color: #3E7A42;
    display: flex;
    flex-direction: column;
    text-align: center;
}
router-link{
    font-size: 18px;
    color: #CBFBCE;
    text-decoration: none;
    padding: 16px 32px;
}
.a {
    font-size: 18px;
    color: #CBFBCE;
    text-decoration: none;
    padding: 16px 32px;
}

.a:hover {
    background-color: black;
    text-decoration: underline;
}

main {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background-color: #7FFA87;
}

main article {
    background-color: #CBFBCE;
    padding: 20px;
}

footer {
    grid-area: footer;
    padding: 20px;
    color: #CBFBCE;
    background-color: #3E7A42;
}

/*form {
    background-color: white;
    padding: 16px;
    border: 3px solid #f1f1f1;
}
*/

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    main {
        grid-template-columns: 1fr 1fr;
    }
    body {
        background-color: #7FFA87;
    }

    nav {
        flex-direction: row;
        justify-content: center;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {

    body {
        background-color: #7FFA87;
    }

    section.grid-container {
        width: 1000px;
        margin: 15px auto;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    main#subPages {
        grid-template-columns: 1fr;
    }

    nav {
        flex-direction: row;
        justify-content: center;
    }

}

