@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&display=swap");

/* Mobile first */

body {
    background: linear-gradient(to left top, rgba(11,225,226,0.4514180672268907) 0%, rgba(1,250,182,0.8995973389355743) 42%, rgba(11,227,108,0.4458158263305322) 100%) fixed;
    margin: auto;
}

#content {
    min-height: 100%;
    padding-bottom: 100px;
}

#copyright {
    font-family: "Red Hat Display", serif;
    font-size: 14px;
}

.logout-btn {
    position: relative;
    display: inline-flex;
    width: 140px;
    height: 50px;
    perspective: 100000px;
}

.logout-btn a {
    font-size: 25px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .30s;
    font-family: cursive;
}

.logout-btn a:before,
.logout-btn a:after {
    position: absolute;
    content: "My page";
    height: 55px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-btn a:before {
    color: white;
    font-size: 22px;
    background: black;
    transform: translateZ(25px);
}

.logout-btn a:after {
    font-size: 22px;
    border: none;
    color: black;
    background: linear-gradient(to left top, rgba(11,225,226,0.4514180672268907) 0%, rgba(1,250,182,0.8995973389355743) 42%, rgba(11,227,108,0.4458158263305322) 100%) fixed;
    content: 'Logout';
    transform: rotateX(90deg) translateZ(25px);
}

.logout-btn a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

.home-btn {
    font-size: 42px;
    height: 120px;
    width: 200px;
    border-radius: 25px;
    background: white;
}

.a-signUp {
    font-size: 18px;
    font-family: "Red Hat Display", serif;
    color: blue;
}

.a-signUp:hover {
    color: black;
}

.a-login {
    font-size: 18px;
    font-family: "Red Hat Display", serif;
    color: blue;
}

.a-login:hover {
    color: black;
}

p {
    text-align: center;
    font-family: "Red Hat Display", serif;
    font-size: 16px;
}

h2 {
    font-size: 24px;
    text-align: center;
}

form {
    text-align: center;
    width: 300px;
}

input[type=text], [type=password] {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    border: 5px black;
    border-radius: 10px;
    background-color: white;
    padding: 14px 18px;
}

textarea {
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    border: 5px black;
    border-radius: 10px;
    background-color: white;
    padding: 14px 18px;
}

.btn{
    margin-top: 25px;
    padding: 18px 18px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
}

.btn:hover{
    background-color: rgba(186,186,186,0.9);
    cursor: pointer;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "main-content"
}

section.grid-container {
    width: auto;
    margin: auto;
}

.MyPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    justify-items: center;
    width: 800px;
}

.statistic-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    justify-items: center;
    width: 800px;
    border-bottom: solid 1px black;
}

.statistic {
    background: white;
    border: solid 2px rgba(186,186,186,0.9);
    border-radius: 25px;
    width: 100px;
    height: 100px;
    font-size: 42px;
    vertical-align: middle;
    text-align: center;
    line-height: 100px;
}

.statistic-text {
    font-family: "Red Hat Display", serif;
    font-size: 16px;
}

.statistic-title {
    font-size: 26px;
}

.myPage-title {
    font-size: 32px;
    border-bottom: solid 1px black;
}

.settings {
    cursor: pointer;
    font-family: "Red Hat Display", serif;
    font-size: 20px;
    margin-bottom: 10px;
    width: 200px;
    background: white;
    text-align: center;
    border: solid 2px rgba(186,186,186,0.9);
    border-radius: 25px;
}

.settings:hover {
    background-color: rgba(186,186,186,0.9);
    cursor: pointer;
}

.account-info {
    font-family: "Red Hat Display", serif;
    font-size: 20px;
    margin-bottom: 10px;
}

header {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-family: "Red Hat Display", serif;
    font-size: 26px;
    text-align: center;
}

h2 {
    font-family: "Red Hat Display", serif;
    font-size: 20px;
}

nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: rgba(186,186,186,0.7);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top: rgba(186,186,186,0.7);
    border-top-style: solid;
    border-top-width: 1px;
}

.a {
    font-size: 20px;
    font-family: "Red Hat Display", serif;
    color: black;
    text-decoration: none;
    padding: 14px 8px;
}

.a:hover {
    background-color: rgba(14, 186, 125, 0.32);
}

.b:hover {
    background-color: rgba(14, 186, 125, 0.32);
}

main {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
}

#homeBackground {
    background: white;
    height: auto;
    margin: auto;
    width: 80%;
    border-radius: 25px 25px;
    border: solid 2px rgba(186,186,186,0.9);
    padding-bottom: 25px;
}

.home-btn {
    font-size: 50px;
    height: 110px;
    width: 185px;
    border-radius: 25px;
    background: linear-gradient(120deg, rgba(11,225,226,0.4514180672268907) 0%, rgba(1,250,182,0.8995973389355743) 42%, rgba(11,227,108,0.4458158263305322) 100%);
}

footer {
    border-top: rgba(186,186,186,0.7);
    border-top-style: solid;
    border-top-width: 1px;
    text-align: center;
    background: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#quizBackground {
    background: white;
    width: 90%;
    max-width: 350px;
    height: 320px;
    border-radius: 25px 25px;
    border: solid 2px rgba(186,186,186,0.9);
    margin: auto;
}

.button-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 35px;
    width: 95%;
    margin: auto;
}

#question {
    font-size: 24px;
    font-weight: bolder;
}

.quiz-btn {
    font-size: 20px;
    padding: 30px;
    color: black;
    font-family: "Red Hat Display", serif;
    font-weight: bold;
    border-radius: 25px;
    background: linear-gradient(120deg, rgba(11,225,226,0.4514180672268907) 0%, rgba(1,250,182,0.8995973389355743) 42%, rgba(11,227,108,0.4458158263305322) 100%);
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    section.grid-container {
        width: 750px;
        margin: auto;
    }

    main {
        grid-template-columns: 1fr 1fr;
        padding: 4% 10% 4% 10%;
    }

    main#subPages {
        grid-template-columns: 1fr;
    }

    .a {
        font-size: 20px;
        padding: 14px 16px;
    }

    form {
        width: 300px;
    }

    input[type=text], [type=password]{
        width: 200px;
        height: 20px;
    }

    textarea {
        width: 200px;
        height: 100px;
    }

    #quizBackground {
        width: 420px;
        max-width: 420px;
        height: 380px;
    }

    .button-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px 45px;
        width: 85%;
        margin: auto;
    }

    #question {
        font-size: 30px;
    }

    .quiz-btn {
        font-size: 26px;
    }

    #copyright {
        font-size: 16px;
    }
}

/* Desktop */
@media screen and (min-width: 1025px){

    section.grid-container {
        width: 700px;
        margin: auto;
    }

    main {
        grid-template-columns: 1fr 1fr;
        padding: 1% 10% 3% 10%;
    }

    main#subPages {
        grid-template-columns: 1fr;
    }

    .a {
        font-size: 18px;
        padding: 16px 24px;
    }

    form {
        width: 350px;
    }

    input[type=text], [type=password]{
        width: 250px;
        height: 30px;
    }

    textarea {
        width: 250px;
        height: 100px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    #quizBackground {
        width: 600px;
        max-width: 600px;
        height: 420px;
    }

    .button-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px 45px;
        width: 70%;
    }

    #question {
        font-size: 34px;
    }

    .quiz-btn {
        font-size: 30px;
    }

    #copyright {
        font-size: 16px;
    }
}