/* Mobile first */

body {
    background-color: #7FFA87;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "topHeader"
    "navigation"
    "main-content"
    "footer";
    grid-gap: 15px;
}

header {
    grid-area: topHeader;
    background-color: #3E7A42;
    color: #CBFBCE;
    text-align: center;
    font-size: 30px;
}

nav {
    grid-area: navigation;
    background-color: #3E7A42;
    display: flex;
    flex-direction: column;
    text-align: center;
}

a {
    font-size: 18px;
    color: #CBFBCE;
    text-decoration: none;
    padding: 16px 32px;
}

a:hover {
    background-color: black;
    text-decoration: underline;
}

main {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background-color: #7FFA87;
}

main article {
    background-color: #CBFBCE;
    padding: 20px;
}

footer {
    grid-area: footer;
    padding: 20px;
    color: #CBFBCE;
    background-color: #3E7A42;
}

/*form {
    background-color: white;
    padding: 16px;
    border: 3px solid #f1f1f1;
}
*/

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    main {
        grid-template-columns: 1fr 1fr;
    }
    body {
        background-color: #7FFA87;
    }

    nav {
        flex-direction: row;
        justify-content: center;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {

    body {
        background-color: #7FFA87;
    }

    section.grid-container {
        width: 1000px;
        margin: 15px auto;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    nav {
        flex-direction: row;
        justify-content: center;
    }

}

